/* 
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


/* ========================================================================= */

/* TABLE OF CONTENTS
1. GLOBAL
2. TYPOGRAPHY
3. LAYOUT
4. IMAGES
5. MEDIA QUERY | MOBILE VIEW 375px
*/

/* DOM SECTIONS
NAV | LOGO, NAVBAR (TOGGLE)
MAIN | HERO IMAGE
SECTION | PRODUCTS GRID
SECTION | CLIENT TESTIMONIALS
SPAN | IMAGE GRID
FOOTER | LOGO, LINKS, ICONS
 */

/* ========================================================================= */
/* 1. GLOBAL */

// PRIMARY COLORS SCSS
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkScyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%); //photogrpahy txt
$darkMcyan: hsl(168, 34%, 41%);

// NEUTRAL COLORS SCSS
$vDarkDblue: hsl(212, 27%, 19%);
$vDarkGblue: hsl(213, 9%, 39%);
$darkGblue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin heading1 {
  font-family: 'Fraunces', serif;
  font-size: 56px;
  font-weight: 900;
  line-height: 69px;
  letter-spacing: 8.75px;
  text-align: center;
}

@mixin heading2 {
  font-family: 'Fraunces', serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: -0.2857142984867096px;
  text-align: left;
}

@mixin heading3 {
  font-family: 'Fraunces', serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
}

@mixin heading4 {
  font-family: 'Fraunces', serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 5px;
  text-align: center;
}

@mixin heading5 {
  font-family: 'Fraunces', serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: -0.12857143580913544px;
  text-align: center;
}


body {
  @include reset;
  width: 100vw;
  position: relative;

  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.12857143580913544px;
  text-align: left;
}


/* ========================================================================= */
/* 2. TYPOGRAPHY */



/* ========================================================================= */
/* 3. LAYOUT */



/* ========================================================================= */
/* 4. IMAGES */
#hero-img {
  background-image: src("images/desktop/image-header.jpg");
  object-fit: cover;
  object-position: center center;
  position: absolute;
  height: 800px;
  width: 100%;
}


/* ========================================================================= */
/* 5. MEDIA QUERY | MOBILE VIEW 375px */
