/* 
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');


/* ========================================================================= */

/* TABLE OF CONTENTS
1. GLOBAL
2. TYPOGRAPHY
3. LAYOUT
4. IMAGES
5. MEDIA QUERY | MOBILE VIEW 375px
*/

/* DOM SECTIONS
NAV | LOGO, NAVBAR (TOGGLE)

MAIN | HERO IMAGE

SECTION | PRODUCTS GRID
  typography - "LEARN MORE" links + ::after pseudo class + active states

SECTION | CLIENT 

TESTIMONIALS

SPAN | IMAGE GRID

FOOTER | LOGO, LINKS, ICONS
 */

/* ========================================================================= */
/* 1. GLOBAL */

// PRIMARY COLORS SCSS
$softRed: rgb(254, 120, 103);
$yellow: rgb(250, 212, 0);
$darkScyan: rgb(37, 86, 75);
$darkBlue: rgb(25, 83, 107); //photogrpahy txt
$darkMcyan: rgb(69, 140, 126);

// NEUTRAL COLORS SCSS
$vDarkDblue: rgb(35, 48, 62);
$vDarkGblue: rgb(90, 99, 108);
$darkGblue: rgb(129, 132, 152);
$grayishBlue: rgb(167, 171, 174);
$white: rgb(255, 255, 255);

// FONTS SCSS
$Barlow: 'Barlow', sans-serif;
$Fraunces: 'Fraunces', serif;

@mixin heading1 {
  font-size: 56px;
  font-weight: 900;
  line-height: 69px;
  letter-spacing: 8.75px;
  text-align: center;
}

@mixin heading2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: -0.2857142984867096px;
  text-align: left;
}

@mixin heading3 {
  font-size: 28px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
}

@mixin heading4 {
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 5px;
  text-align: center;
}

@mixin heading5 {
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: -0.12857143580913544px;
  text-align: center;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin flexboxC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flexboxR {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* ======== BODY ========== */
body {
  @include flexboxC;
  flex: 1 3 1440px;

  @include reset;
  width: 100%;
  position: relative;
  background-color: rgb(255, 252, 248);

  font-family: $Fraunces;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.12857143580913544px;
  text-align: left;
}


/* ========================================================================= */
/* 2. TYPOGRAPHY */

/* NAV LINKS | TYPOGRAPHY */
.link {
  text-decoration: none;
  font-family: $Barlow;
  font-size: 18px;
  font-weight: 600;
  color: $white;
  line-height: 25px;
  letter-spacing: -0.12857143580913544px;
  text-align: left;
  cursor: pointer;
}
/* CONTACT BUTTON | TYPOGRAPHY */
.navbar button {
  font-family: $Fraunces;
  font-size: 15px;
  font-weight: 700;
  color: $vDarkDblue;
  line-height: 25px;
  letter-spacing: -0.1071428582072258px;
  text-transform: uppercase;
  cursor: pointer;
}

/* HERO | TYPOGRAPHY */
.hero-title {
  @include heading1;
  color: $white;
  word-spacing: 5px;
  letter-spacing: 10px;
}

/* SECTION | GRID | TYPOGRAPHY */

.product-description {
  color: $darkGblue;
  font-family: $Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
}
/* "LEARN MORE" LINK + ::AFTER PSEUDO CLASS ATTRIBUTES */
#product-link1, #product-link2 {
  font-weight: 900px;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  color: $vDarkDblue;
}
#product-link1::after {
  content: '';
  background: rgba(250, 212, 0, 0.25);
  height: 10px;
  width: 137px;
  display: block;
  position: absolute;
  top: 11px;
  left: -10px;
  border-radius: 28px;
}
#product-link2::after {
  content: '';
  height: 10px;
  width: 137px;
  background: rgba(254, 120, 103, 0.25);
  border-radius: 28px;
  display: block;
  position: absolute;
  top: 11px;
  left: -10px;
}
.learnMore1, .learnMore2 {
  font-family: $Fraunces;
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
}

#product-link1:hover::after, #product-link1:active::after, #product-link1:focus::after {
  background: rgba(250, 212, 0, 1);
  z-index: -20;
}
/* "LEARN MORE" LINKS | ACTIVE STATES */
  #product-link1:hover, #product-link1:active, #product-link1:focus {
    color: $vDarkDblue;
    z-index: 10;
  }
  #product-link1:hover::after, #product-link1:active::after, #product-link1:focus::after {
    background: rgba(250, 212, 0, 1);
    z-index: -20;
  }

  #product-link2:hover, #product-link2:active, #product-link2:focus {
    color: $vDarkDblue;
    z-index: 10;
  }
  #product-link2:hover::after, #product-link2:active::after, #product-link2:focus::after {
    background: rgba(254, 120, 103, 1);
    z-index: -20;
  }

.graphic-design-txt, .photography-txt {
  .product-title2 {
    color: $darkScyan;
    font-family: $Fraunces;
    @include heading3
  }

  .product-description2 {
    color: $darkScyan;
    font-family: $Barlow;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.11428571492433548px;
    text-align: center;
  }

}

/* SECTION | CLIENT TESTIMONIALS | TYPOGRAPHY */

.testimonials-title {
  @include heading4;
  color: $grayishBlue;
  font-family: $Fraunces;
  text-transform: uppercase;
}

.testimony {
  color: $vDarkGblue;
  font-family: $Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.12857143580913544px;
  text-align: center;
}

/* CLIENT TESTIMONIALS  | TYPOGRAPHY */
.client-name {
  @include heading5;
  color: vDarkDblue;
}
.client-position {
  color: $grayishBlue;
  font-family: $Barlow;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
}

/* FOOTER NAVBAR | TYPOGRAPHY */   
.mini-ft-nav {
  list-style: none;
  // FOOTER LINK
  .mini-ft-link {
    text-decoration: none;
    color: rgba(69, 141, 126, 1);
    font-family: $Barlow;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.12857143580913544px;
    text-align: center;
    cursor: pointer;
  }
  // FOOTER LINK ACTIVE STATES
  .mini-ft-link:hover, .mini-ft-link:focus {
    color: $white;
  }
}

/* ========================================================================= */
/* 3. LAYOUT */
/* HERO | LAYOUT */
/* NAV HAMBURGER MENU | LAYOUT */
#menu-icon, .triangle {
    display: none;
  }

#logo-nav {
  @include flexboxR;
  justify-content: space-between;
  margin: 36px 40px;
  /* LOGO | LAYOUT */
  #logo {
    height: 33px;
    width: 170px;
  }
  /* NAVBAR | LAYOUT */
  #navbar {
    display: block;
    height: 56px;
    width: 545px;
    display: flex;
    align-items: center;
  }
  .navbar {
    @include reset;
    @include flexboxR;
    justify-content: flex-start;
    list-style: none;
    margin-left: 67px;
    /* CONTACT BUTTON | LAYOUT */
    button {
      height: 56px;
      width: 140px;
      border-radius: 28px;
      border: none;
      padding: 16px 30px 15px 32px;
      background-color: $white;
    }
    // CONTACT BTN | ACTIVE STATE
    button:hover, button:focus {
      color: $white;
      background-color: rgba(255, 255, 255, 0.25);
      mix-blend-mode: normal;
      border-radius: 28px;
    }
  }
    /* LINK# | LAYOUT:margins */
    .link1 {
      margin-left: 4px;
    }
    .link2 {
      margin-left: 3.2rem;
      margin-right: 1.3rem;
    }
    .link3 {
      margin-left: 1.6rem;
    }
    .link4 {
      margin-left: 2.9rem;
    }
  }

#hero-txt {
  @include flexboxC;
}
.hero-title {
  margin-left: 9px;
  margin-top: 67px;
  margin-bottom: 95px;
}

/* SECTION | GRID | LAYOUT */
#products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: auto;
  width: 1440px;
}

.one, .four {
  padding: 124px 0 150px 165px;
}

.product-title {
  @include heading2;
  height: 98px;
  width: 445px;
}
.product-description {
  height: 90px;
  width: 445px;
}

#product-link1, #product-link2 {
  position: relative;
  height: 25px;
  width: 137px;
}
  .learnMore1, .learnMore2 {
    position: relative;
    top: 19px;
    width: 120px;
    margin-left: 9px;
    z-index: 2;
  }

.graphic-design-txt, 
.photography-txt {
  height: 143px;
  width: 339px;
  margin: 398px 190px 59px 191px;
  .product-title2 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 27px;
  }
  .product-description2 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 59px;
  }
}

/* SECTION | CLIENT TESTIMONIALS | LAYOUT */
#client-testimonials {
  width: 100%;
  height: 777px;
  @include reset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 2 777px;
}
#testimonials-container {
  height: 400px;
  width: 1110px;
  @include flexboxC;
  margin-top: 0;
}
  .testimonials-title {
    height: 25px;
    width: 348px;
    margin-bottom: 46px;
  }
// CARD CONTAINER
#client-cards {
  @include flexboxR;
}
// CARDS
.client-card {
  height: 350px;
  width: 351px;
}
  .client-card:nth-child(2) {
    margin: 0 30px;
  }

.testimony {
  height: 96px;
  width: 350px;
}

.client-info {
  height: 56px;
  width: 203px;
  @include reset;
  @include flexboxC;
  margin-top: 58px;
  margin-bottom: 69px;
  margin-left: 64px;
}
  .client-name {
    height: 22px;
    width: 100px;
    @include reset;
  }
  .client-position {
    height: 25px;
    width: 203px;
    @include reset;
  }

/* SECTION | GRID : IMG-CONTAINER | LAYOUT */
#img-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
  height: 447px;
  width: 1440px;
  margin-bottom: -3px;
}

/* FOOTER | LAYOUT */
#footer {
  @include reset;
  width: 100%;
  background-color: rgba(144, 212, 198, 1);
  @include flexboxC;
  height: 350px;
}

.ft-container {
  @include flexboxC;
  height: 206px;
  width: 300px;
  margin: -15px 570px 72px 570px;
}
#logo2 {
  width: 80%;
  margin-top: 18px;
  margin-bottom: 40px;
  margin-left: 52px;
}

/* FOOTER NAVBAR | LAYOUT */
#ft-navbar {
  margin-top: -31px;
  .ft-navbar{
    width: 300px;
    @include flexboxR;
    justify-content: space-between;
    margin-left: -36px;
  }
}
.margin {
  margin-left: -65px;
}

/* FOOTER ICONS */
#icon-container {
  position: relative;
  top: 65px;
  display: flex;
  flex-direction: row;justify-content: space-between;
  width: 164px;
  height: 20px;
}
.icon {
  width: 20px;
  height: 20px;
}

/* ========================================================================= */
/* 4. IMAGES */
#hero {
  background-image: url('/images/desktop/image-header.jpg');/* The image used */
  height: 800px;/* You must set a specified height */
  width: 100%; 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* SECTION | GRID IMAGES */
#img1, #img2 {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#img3, #img4 {
  position: relative;
  height: 600px;
  width: 720px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: fill;
  background-position: 10% 0;
}
.img-transform {
  background-image: url('./images/desktop/image-transform.jpg');
}
.img-stand-out {
  background-image: url('./images/desktop/image-stand-out.jpg');
}
.img-graphic-design {
  background-image: url('./images/desktop/image-graphic-design.jpg');
}
.img-photography {
  background-image: url('./images/desktop/image-photography.jpg');
}

/* CLIENT TESTIMONIALS IMAGES */
.client-photo {
  position: relative;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  margin-left: 137px;
  margin-bottom: 58px;
}
.photo1, .photo2, .photo3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.photo1 {
  background-image: url('./images/image-emily.jpg');
}
.photo2 {
  background-image: url('./images/image-thomas.jpg');
}
.photo3 {
  background-image: url('./images/image-jennie.jpg');
}

/* SECTION | GRID : IMG-CONTAINER | IMAGES */
#milk, #orange, #ice-cream-cone, #sugar-cubes {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#milk {
  background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
}
#orange {
  background-image: url('./images/desktop/image-gallery-orange.jpg');
}
#ice-cream-cone {
  background-image: url('./images/desktop/image-gallery-cone.jpg');
}
#sugar-cubes {
  background-image: url('./images/desktop/image-gallery-sugarcubes.jpg');
}

/* FOOTER ICONS */
.icon {
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}
  .icon:hover, .icon:active, .icon:focus {
    filter: brightness(0) invert(1);
  }


/* ========================================================================= */
/* 5. MEDIA QUERY | MOBILE VIEW at 375px */

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  /* IMAGES */
  #hero {
    background-image: url('/images/mobile/image-header.jpg');
    height: 536px;
  }

  /* SECTION | GRID IMAGES */
  #img3, #img4 {
    height: 600px;
    width: 375px;
    background-position: top center;
    background-size: cover;
  }
  .img-transform {
    background-image: url('/images/mobile/image-transform.jpg');
  }
  .img-stand-out {
    background-image: url('/images/mobile/image-stand-out.jpg');
  }
  .img-graphic-design {
    background-image: url('/images/mobile/image-graphic-design.jpg');
  }
  .img-photography {
    background-image: url('/images/mobile/image-photography.jpg');
  }

  /* SECTION | GRID : IMG-CONTAINER | IMAGES */
  #milk {
    background-image: url('/images/mobile/image-gallery-milkbottles.jpg');
  }
  #orange {
    background-image: url('/images/mobile/image-gallery-orange.jpg');
  }
  #ice-cream-cone {
    background-image: url('/images/mobile/image-gallery-cone.jpg');
  }
  #sugar-cubes {
    background-image: url('/images/mobile/image-gallery-sugar-cubes.jpg');
  }

  /* TYPOGRAPHY | MEDIA QUERY */
  /* NAV LINKS | TYPOGRAPHY */
  .link {
    text-decoration: none;
    font-size: 20px;
    color: $darkGblue;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.14px;
  }
  /* CONTACT BUTTON | TYPOGRAPHY */
  .navbar button {
    letter-spacing: -0.11px;
  }

  /* HERO | TYPOGRAPHY */
  .hero-title {
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 6.25px;
    text-align: center;
  }

  /* SECTION | GRID | TYPOGRAPHY */
  .product-title {
    color: $vDarkDblue;
    font-size: 32px;
    font-weight: 900;
    line-height: 39px;
    letter-spacing: -0.22857142984867096px;
    text-align: center;
  }

  /* "LEARN MORE" LINK + ::AFTER PSEUDO CLASS ATTRIBUTES */
  #product-link1::after {
    top: 11px;
    left: -10px;
  }
  #product-link2::after {
    top: 11px;
    left: -10px;
  }
  .learnMore1, .learnMore2 {
    text-align: center;
  }

/* SECTION | CLIENT TESTIMONIALS | TYPOGRAPHY */

.testimonials-title {
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 4px;
  text-align: center;
}

/* LAYOUT | MEDIA QUERY */

/* HERO | LAYOUT */
#logo-nav {
  margin: 0;
  /* LOGO | LAYOUT */
  #logo {
    height: 24px;
    width: 123.64px;
    margin-top: 30px;
    margin-left: 24px;
  }
  /* NAVBAR | LAYOUT */
  #navbar {
    display: none;
    height: 56px;
    width: 375px;
    margin-left: 20px;
    margin-top: -30px;
  }

  #triangle {
      position: relative;
      top: 63px;
      right: -156px;
      width: 0;
      height: 0;
      border-bottom: 24px solid white;
      border-left: 24px solid transparent;
      z-index: 100;
    }
  .navbar {
    @include flexboxC;
    background-color: $white;
    position: relative;
    left: -173px;
    top: 213px;
    height: 305px;
    width: 329px;
    margin-left: 0;
    margin-top: 28px;
    li {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .link {
        width: 329px;
        margin-left: 0;
        margin: 16px;
      }
      .link1 {
        margin-top: 5px;
      }
      .link2 {
        margin-top: 20px;
        margin-bottom: 14px;
      }
      .link3 {
        margin-top: 18px;
        margin-bottom: 12px;
      }
    }
    /* CONTACT BUTTON | LAYOUT */
    button {
      background-color: $yellow;
      margin-top: 20px;
      margin-left: -5px;
      z-index: 3;
    }
    button:hover, button:focus {
      color: $white;
      background-color: $softRed;
      z-index: 4;
    }
  }
}
/* ======================= */
  /* NAV HAMBURGER MENU | LAYOUT */
  .navbar {
    display: none;
    pointer-events: auto;
  }

  #menu-icon {
    background-color: transparent;
    border: none;
    display: block;
    position: absolute;
    right: 25px;
    top: 25px;
    transition: color ease-in 1s ease-out 1s;
  }
  .line1, .line2, .line3 {
    width: 30px;
    height: 3px;
    margin: 5px;
    margin-right: 0;
    background-color: rgba(255, 255, 255, 1);
  }

  #hero-txt {
    @include flexboxC;
  }
  .hero-title {
    margin-left: 9px;
    margin-top: 88px;
    margin-bottom: 95px;
  }
  #down-arrow {
    position: relative;
    top: -47px;
    z-index: 1;
  }

  /* SECTION | GRID | LAYOUT */
  #products-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    height: auto;
    width: 100vw;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six";
  }
  .one {
    grid-area: two;
  }
  .two {
    grid-area: one;
  }
  .three {
    grid-area: three;
  }
  .four {
    grid-area: four;
  }
  .five {
    grid-area: five;
  }
  .six {
    grid-area: six;
  }

  .one, .four {
    @include reset;
    @include flexboxC;
    height: 437px;
    width: 375px;
  }
    #transform1, #stand-out1 {  
    height: 320px;
    width: 327px;
    margin: -14px 24px 64px 24px;
  }

  .product-title {
    font-family: $Fraunces;
    font-size: 32px;
    font-weight: 900;
    line-height: 39px;
    letter-spacing: -0.22857142984867096px;
    text-align: center;

    height: 78px;
    width: 325px;
    margin-top: 2px;
    margin-bottom: 5px;
  }
  .product-description {
    height: 150px;
    width: 327px;    text-align: center;
  }

    #product-link1 {
      margin-top: 0;
    }
    #product-link1::after {
      content: '';
      background: rgba(250, 212, 0, 0.25);
      height: 10px;
      width: 137px;
      top: 14px;
      left: -2px;
    }
    #product-link2::after {
      background: rgba(254, 120, 103, 0.25);
      height: 10px;
      width: 137px;
      top: 12px;
      left: -10px;
    }
    .img-transform, .img-stand-out {
      height: 312px !important;
      @include reset;
    }
    .img-stand-out {
      background-position: top center;
      background-size: cover;
    }

  .graphic-design-txt, 
  .photography-txt {
    width: 327px;
    margin: 398px 24px 55px 24px;
    .product-title2 {
      margin-bottom: 27px;
    }
    .product-description2 {
      margin-bottom: 0;
    }
  }

  /* SECTION | CLIENT TESTIMONIALS | LAYOUT */
  #client-testimonials {
    width: 375px;
    height: auto;
    @include reset;
  }
  #testimonials-container {
    height: 1200px;
    width: 327px;
    @include reset;
    margin-top: -35px;
  }
    .testimonials-title {
      height: 20px;
      width: 279px;
      margin-top: 64px;
      margin-bottom: 58px;
      margin-left: 0;
    }
  // CARD CONTAINER
  #client-cards {
    @include flexboxC;
  }
  // CARDS
  .client-card {
    height: 288px;
    width: 327px;
  }
    .client-card:nth-child(2) {
      margin: 64px 0;
    }

  .testimony {
    width: 327px;
    margin-top: -32px;
    margin-left: 0;
  }

  .client-info {
    margin-top: 25px;
    margin-left: 64px;
  }
  .client-position{ margin-top: 8px;
  }


  /* SECTION | GRID : IMG-CONTAINER | LAYOUT */
  #img-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    height: 375px;
    width: 375px;
    margin-top: 86px;
  }

  /* FOOTER | LAYOUT */

  .ft-container {
    @include reset;
    @include flexboxC;
    width: 297px;
    margin-top: -33px;
  }
  #logo2 {
    width: 80%;
    margin-top: -60px;
    margin-bottom: 37px;
    margin-left: 52px;
  }

  /* FOOTER NAVBAR | LAYOUT */
  #ft-navbar {
    margin-top: -39px;
    .ft-navbar{
      width: 300px;
      @include flexboxR;
      justify-content: space-between;
      margin-left: -36px;
    }
  }
  .margin {
    margin-left: -65px;
  }

  /* FOOTER ICONS */
  #icon-container {
    position: relative;
    top: 65px;
    display: flex;
    flex-direction: row;justify-content: space-between;
    width: 164px;
    height: 20px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}