/* 
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
 */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap");
/* ========================================================================= */
/* TABLE OF CONTENTS
1. GLOBAL
2. TYPOGRAPHY
3. LAYOUT
4. IMAGES
5. MEDIA QUERY | MOBILE VIEW 375px
*/
/* DOM SECTIONS
NAV | LOGO, NAVBAR (TOGGLE)

MAIN | HERO IMAGE

SECTION | PRODUCTS GRID
  typography - "LEARN MORE" links + ::after pseudo class + active states

SECTION | CLIENT 

TESTIMONIALS

SPAN | IMAGE GRID

FOOTER | LOGO, LINKS, ICONS
 */
/* ========================================================================= */
/* 1. GLOBAL */
/* ======== BODY ========== */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 3 1440px;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: rgb(255, 252, 248);
  font-family: "Fraunces", serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.1285714358px;
  text-align: left;
}

/* ========================================================================= */
/* 2. TYPOGRAPHY */
/* NAV LINKS | TYPOGRAPHY */
.link {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 25px;
  letter-spacing: -0.1285714358px;
  text-align: left;
}

/* CONTACT BUTTON | TYPOGRAPHY */
.navbar button {
  font-family: "Fraunces", serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(35, 48, 62);
  line-height: 25px;
  letter-spacing: -0.1071428582px;
  text-transform: uppercase;
}

/* HERO | TYPOGRAPHY */
.hero-title {
  font-size: 56px;
  font-weight: 900;
  line-height: 69px;
  letter-spacing: 8.75px;
  text-align: center;
  color: rgb(255, 255, 255);
  word-spacing: 5px;
  letter-spacing: 10px;
}

/* SECTION | GRID | TYPOGRAPHY */
.product-description {
  color: rgb(129, 132, 152);
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
}

/* "LEARN MORE" LINK + ::AFTER PSEUDO CLASS ATTRIBUTES */
#product-link1, #product-link2 {
  font-weight: 900px;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(35, 48, 62);
}

#product-link1::after {
  content: "";
  background: rgba(250, 212, 0, 0.25);
  height: 10px;
  width: 137px;
  display: block;
  position: absolute;
  top: 11px;
  border-radius: 28px;
}

#product-link2::after {
  content: "";
  height: 10px;
  width: 137px;
  background: rgba(254, 120, 103, 0.25);
  border-radius: 28px;
  display: block;
  position: absolute;
  top: 11px;
}

.learnMore1, .learnMore2 {
  font-family: "Fraunces", serif;
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
}

#product-link1:hover::after, #product-link1:active::after, #product-link1:focus::after {
  background: rgb(250, 212, 0);
  z-index: -20;
}

/* "LEARN MORE" LINKS | ACTIVE STATES */
#product-link1:hover, #product-link1:active, #product-link1:focus {
  color: rgb(35, 48, 62);
  z-index: 10;
}

#product-link1:hover::after, #product-link1:active::after, #product-link1:focus::after {
  background: rgb(250, 212, 0);
  z-index: -20;
}

#product-link2:hover, #product-link2:active, #product-link2:focus {
  color: rgb(35, 48, 62);
  z-index: 10;
}

#product-link2:hover::after, #product-link2:active::after, #product-link2:focus::after {
  background: rgb(254, 120, 103);
  z-index: -20;
}

.graphic-design-txt .product-title2, .photography-txt .product-title2 {
  color: rgb(37, 86, 75);
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: -0.200000003px;
  text-align: center;
}
.graphic-design-txt .product-description2, .photography-txt .product-description2 {
  color: rgb(37, 86, 75);
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.1142857149px;
  text-align: center;
}

/* ========================================================================= */
/* 3. LAYOUT */
/* HERO | LAYOUT */
#logo-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 36px 40px;
  /* LOGO | LAYOUT */
  /* NAV HAMBURGER MENU | LAYOUT */
  /* NAVBAR | LAYOUT */
}
#logo-nav #logo {
  height: 33px;
  width: 170px;
}
#logo-nav #navigation-menu #menu-icon {
  display: none;
}
#logo-nav #navbar {
  height: 56px;
  width: 545px;
  display: flex;
  align-items: center;
  /* LINK# | LAYOUT:margins */
}
#logo-nav #navbar .navbar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin-left: 67px;
  /* CONTACT BUTTON | LAYOUT */
}
#logo-nav #navbar .navbar li .link {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 25px;
  letter-spacing: -0.1285714358px;
  text-align: left;
  cursor: pointer;
}
#logo-nav #navbar .navbar button {
  height: 56px;
  width: 140px;
  border-radius: 28px;
  border: none;
  padding: 16px 30px 15px 32px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
#logo-nav #navbar .navbar button:hover, #logo-nav #navbar .navbar button:focus {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.25);
  mix-blend-mode: normal;
  border-radius: 28px;
}
#logo-nav #navbar .link1 {
  margin-left: 4px;
}
#logo-nav #navbar .link2 {
  margin-left: 3.2rem;
  margin-right: 1.3rem;
}
#logo-nav #navbar .link3 {
  margin-left: 1.6rem;
}
#logo-nav #navbar .link4 {
  margin-left: 2.9rem;
}

#hero-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  margin-left: 9px;
  margin-top: 67px;
  margin-bottom: 95px;
}

/* SECTION | GRID | LAYOUT */
#products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: auto;
  width: 100%;
}

.one, .four {
  padding: 124px 0 150px 165px;
}

.product-title {
  font-size: 40px;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: -0.2857142985px;
  text-align: left;
  height: 98px;
  width: 445px;
}

.product-description {
  height: 90px;
  width: 445px;
}

#product-link1, #product-link2 {
  position: relative;
  height: 25px;
  width: 137px;
}

.learnMore1, .learnMore2 {
  position: relative;
  top: 19px;
  width: 120px;
  margin-left: 9px;
  z-index: 2;
}

.graphic-design-txt,
.photography-txt {
  height: 143px;
  width: 339px;
  margin: 398px 190px 59px 191px;
}
.graphic-design-txt .product-title2,
.photography-txt .product-title2 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 27px;
}
.graphic-design-txt .product-description2,
.photography-txt .product-description2 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 59px;
}

/* ========================================================================= */
/* 4. IMAGES */
#hero {
  background-image: url("/images/desktop/image-header.jpg");
  /* The image used */
  height: 800px;
  /* You must set a specified height */
  width: 100%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

/* SECTION | GRID IMAGES */
#img1, #img2 {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#img3, #img4 {
  position: relative;
  height: 600px;
  width: 720px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: fill;
  background-position: 10% 0;
}

.img-transform {
  background-image: url("/images/desktop/image-transform.jpg");
}

.img-stand-out {
  background-image: url("/images/desktop/image-stand-out.jpg");
}

.img-graphic-design {
  background-image: url("/images/desktop/image-graphic-design.jpg");
}

.img-photography {
  background-image: url("/images/desktop/image-photography.jpg");
}

/* ========================================================================= */
/* 5. MEDIA QUERY | MOBILE VIEW 375px */
@media screen and (max-width: 900px) {
  #hero {
    background-image: url("/images/mobile/image-header.jpg");
    /* The image used */
    height: 538px;
    /* You must set a specified height */
    width: 100%;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
  }
}
html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */